$user-location: hsl(75, 94%, 57%);
$user-name: hsl(0, 0%, 100%);
$Grey-700: hsl(0, 0%, 20%);
$Grey-800: hsl(0, 0%, 12%);
$Grey-900: hsl(0, 0%, 8%);

$background: linear-gradient(to bottom right, #77a1d3, #79cbca, #e684ae);
