$user-location: hsl(75, 94%, 57%);

// $Grey-700: hsl(0, 0%, 20%);
// $Grey-800: hsl(0, 0%, 12%);
// $Grey-900: hsl(0, 0%, 8%);

$highlight-day: rgb(119, 161, 211);
$highlight-night: rgb(78, 67, 118);
$background-day: linear-gradient(-70deg, #77a1d3, #79cbca, #77a1d3);
$background-night: linear-gradient(-70deg, #2b5876, #4e4376, #2b5876);
$card: rgba(255, 255, 255, 0.2);
$white: hsl(0, 0%, 100%);
