$user-location: hsl(75, 94%, 57%);

$highlight-day: rgb(121, 203, 202);
$highlight-night: rgb(78, 67, 118);
$hover-dark: rgb(77, 64, 125);

$background-day: linear-gradient(-70deg, #77a1d3, #79cbca, #77a1d3);
$background-night: linear-gradient(-70deg, #2b5876, #4e4376, #2b5876);

$card: rgba(255, 255, 255, 0.2);
$white: hsl(0, 0%, 100%);
