@use "../util/" as *;

.toggler {
  position: absolute;
  right: 3%;
  top: 3%;
  background: none;
  border: none;
  height: 25px;
}

// .toggler,
// .icon {
//   position: absolute;
//   right: 3%;
//   top: 3%;
//   background: none;
//   border: none;
//   height: 25px;
// }

.icon {
  // position: absolute;
  height: 25px;
  // width: 50px;
}

.icon:hover {
  cursor: pointer;
  fill: $white;
}

.invisible {
  visibility: hidden;
}
