@use "../util/" as *;

.toggler {
  transition: all ease 0.5s;
  position: absolute;
  right: 3%;
  top: 3%;
  background: none;
  border: none;
  height: 1.563rem;
  text-transform: uppercase;
}

.toggler:hover {
  cursor: pointer;
}

.toggler:active {
  @include animatePress();
}
