@use "../util/" as *;

.bg--day {
  @include animateBg();
  background: $background-day;
  background-size: 200% 200%;

  .bio__loc {
    color: $white;
  }

  .profile,
  .links__btn,
  .mode {
    color: $highlight-night;
  }

  .links__btn:hover {
    background-color: $white;
    box-shadow: 0.5px 0.5px 40px rgba(255, 255, 255, 0.327);
  }

  .links__btn:active {
    background-color: $white;
  }

  .toggler:hover {
    text-decoration: underline overline $highlight-night;
  }
}
