@use "../util/" as *;

.bg--day {
  @include animateBg();
  background: $background-day;
  background-size: 200% 200%;

  .profile,
  .links__btn {
    color: $highlight-night;
  }

  .links__btn:hover {
    background-color: $white;
    box-shadow: 0.5px 0.5px 40px rgba(255, 255, 255, 0.327);
  }

  .links__btn:active {
    background-color: $white;
  }
}

.icon--day {
  fill: $highlight-night;
  z-index: 1;
}

// END OF DAY MODE
