@use "../util/" as *;

.bg--night {
  @include animateBg();
  background: $background-night;
  background-size: 200% 200%;

  .bio__loc {
    color: $highlight-day;
  }

  .profile,
  .links__btn,
  .mode {
    color: $white;
  }

  .links__btn:hover {
    background-color: $hover-dark;
    box-shadow: 0.5px 0.5px 50px rgb(83, 69, 133);
  }

  .toggler:hover {
    text-decoration: underline overline $white;
  }
}
