@use "../util/" as *;

// * {
//   transition: all ease 0.25s;
// }

body {
  @include animateBg();
  @include toFlex();
  background: $background-day;
  background-size: 200% 200%;
  height: 100vh;
  overflow: hidden;
}
