@use "../util/" as *;

.profile,
.mode {
  font-family: "Inter", serif;
  // font-size: 0.875rem;
  font-size: clamp(0.75rem, 3.733vw, 0.938rem);
  text-align: center;

  .bio__loc {
    font-weight: 700;
  }
  .links__btn {
    font-weight: 600;
  }
}
